 section, .contact{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contact{
    flex-direction: column;
}

.row{
     margin: 0 !important;
}

.img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

#img-1{
    background-image: url('images/download-1.jpg')
}

#img-2{
    background-image: url('images/image-3.jpg')
}

#img-3{
    background-image: url('images/images-2.jpg')
}

.row{
    width: 300px;
}

.cover-img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
